// ------------- GLOBAL STYLES ------------- //

body {
    @include sans-serif-copy;
    background-color: #fff; 
    color: $dark-color;
}

::selection {
    background-color: #222;
    color: white;
}

.global-container {
    padding: $padding;
    position: relative;
    z-index: unset;
    background-color: #fdfcf6;
    &:after {
        content: "";
        background-image: url(./../img/grain.jpeg);
        background-attachment: fixed;
        mix-blend-mode: soft-light;
        opacity: .4;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    &-inner {
        position: relative;
        z-index: 1;
    }
    &-shapes {
        &-1 {
            fill: $tertiary-color-2;
            position: absolute;
            transform: translate(-65px, 200px) rotate(-45deg);
        }
        &-2 {
            fill: $tertiary-color-3;
            position: absolute;
            transform: translate(465px, -90px) rotate(45deg);
        }
        &-3 {
            fill: $tertiary-color-1;
            position: absolute;
            transform: translate(865px, -90px) rotate(-20deg);
        }
        &-4 {
            fill: $tertiary-color-5; 
            position: absolute;
            transform: translate(0px, 390px) rotate(-20deg);
        }
        &-5 {
            fill: $tertiary-color-3; 
            position: absolute;
            transform: translate(570px, 690px) rotate(20deg);
        }
        &-6 {
            fill: $tertiary-color-1;
            position: absolute;
            transform: translate(295px, 450px) rotate(0);
        }
    }
}

// ------------- NAV ------------- //

.nav {
    &-container {
        display: flex;
        align-items: flex-start;
    }
    &-logo {
        margin: $padding-small $padding;
        &-svg {
            fill: $tertiary-color-5;
            width: 218px;
            height: 160px;
        }
    }
    &-content {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 1;
        &-subscribe {
            @include btn-primary;
            margin-right: $padding-small;
        }
        &-menu-svg {
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }
}

$grid-box-color: #281B1B;

// ------------- GRID ------------- //

.grid-block {
    display: flex;
    padding: $padding;
    background-color: $grid-box-color;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        padding-bottom: 100%;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        position: relative;
    }
    &-label {
        @include sans-serif-cta;
    }
    &-text {
        &-title {
            @include serif-subheadline;
        }
    }
    &:not(.grid-block-full) {
        color: $peach;
    }
    &:not(.grid-block-non-offset) {
        &:after {
            content: "";
            background-color: rgba(218, 113, 54, .8);
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            mix-blend-mode: multiply;
            top: 0;
        }
        &:nth-child(3) {
            &:after {
                background-color: rgba(245, 171, 60, 0.8);
            }
        }
        &:nth-child(4) {
            &:after {
                background-color: rgba(245, 111, 60, 0.8);
            }
        }
        &:nth-child(5) {
            &:after {
                background-color: rgba(255, 228, 197, .8);
            }
        }
        .grid-block-inner {
            &:before {
                content: "";
                background: linear-gradient(0deg, rgba(40,27,27,1) 0%, rgba(230,255,0,0) 100%);
                height: calc(100% + #{$padding * 2});
                width: calc(100% + #{$padding * 2});
                position: absolute;
                z-index: -1;
                left: -$padding;
                top: -$padding;
            }
        }
    }
}

.grid-block-full {
    padding: $padding-large;
    position: relative;
    background-color: #fff;
    box-shadow: -10px 10px 40px 0 rgba(224, 220, 214, .3);
    &:after {
        content: "";
        width: calc(100% - #{($padding / 2) - $grid-gap});
        height: 100%;
        background-color: transparent;
        display: block;
        top: $padding;
        left: -$padding;
        position: absolute;
        z-index: -1;
    }
    &-label {
        @include sans-serif-cta;
    }
    &-text {
        &-title {
            @include serif-headline;
        }
        &-subtitle {
            margin-top: 10px;
            @include serif-subtitle;
        }
    }
}


// ------------- GRID 1 ------------- //

.grid-1 {
    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 331px; //magic number based on logo width
        margin-top: -105px; //magic number based on logo height
        grid-column-gap: $grid-gap;
        .grid-block:not(.grid-block-non-offset) {
            margin-top: $grid-gap + $padding-large;
        }
    }
    &-block {
        &-full {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-right: -$grid-gap;
            &-img {
                grid-column-start: 3;
                grid-column-end: 5;
                background-size: cover;
                transform: translateY($padding-large);
                &:after {
                    content: "";
                    background-color: rgba(245, 127, 60, 0.6);
                    height: calc(100% + #{$padding-large});
                    width: 100%;
                    position: absolute;
                    left: 0;
                    mix-blend-mode: multiply;
                    border-top: $padding-large solid #fff;
                    top: -$padding-large;
                }
            }
        }
        &-offset {
            grid-column-start: 2;
        }
    }
}
